backend/node_modules/
bank-automat/build/
bank-automat/*.user
bank-automat/output/
.qtcreator/
backend/.env
.DS_Store
**/.DS_Store
CMakeLists.txt.user.*
*.bak
*.exe
*.dll
*.obj
*.o
*.a
bank-automat/output/
platforms/
styles/
imageformats/
translations/
tls/
iconengines/
generic/
networkinformation/
Thumbs.db