name: Build Bank App (Windows)

on:
  push:
    branches: [ "feature-mariia" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'
        cache: true

    - name: Configure CMake
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="%Qt6_DIR%"

    - name: Build
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cmake --build build --config Release

    - name: Deploy Qt dependencies
      shell: cmd
      run: |
        "%Qt6_DIR%\..\..\bin\windeployqt.exe" build\Release\MyWeather.exe

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: MyWeather-Windows
        path: build/Release/
