# this workflow runs only for the build after each commit for Windows
name: Build Windows

on:
  push:
    branches: [ "*" ] # all branches
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'
        cache: true

    - name: Configure CMake
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cmake -S bank-automat -B build ^
         -DCMAKE_BUILD_TYPE=Release ^
         -DCMAKE_PREFIX_PATH="%Qt6_DIR%"

    - name: Build
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cmake --build build --config Release

    - name: Deploy Qt dependencies
      shell: cmd
      run: |
        cd build\Release
        windeployqt Pankkiautomaatti.exe

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Bank App-Windows
        path: build/Release/
