# this workflow runs the build and release when a tag is pushed on Windows
name: Release Windows

on:
  push:
    tags:
      - "v*"

jobs:
  release-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.10.1'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2022_64'
          cache: true

      - name: Configure CMake
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cmake -S bank-automat -B build ^
            -DCMAKE_BUILD_TYPE=Release ^
            -DCMAKE_PREFIX_PATH="%Qt6_DIR%"

      - name: Build
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cmake --build build --config Release

      - name: Deploy Qt dependencies
        shell: cmd
        run: |
          cd build\Release
          windeployqt Pankkiautomaatti.exe

      - name: Package app for Release
        shell: powershell
        run: |
          Compress-Archive -Path build\Release\* -DestinationPath BankApp-Windows-x64.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: BankApp-Windows-x64.zip
          generate_release_notes: true
